@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Black-Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-ExtraLight-Italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Bold-Italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-SemiBold-Italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-Light-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.ndrew.sk/fonts/Monocraft/Monocraft-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #7CB0FF;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #494949;
}

body {
    font-family: 'Monocraft', sans-serif;
    font-size: medium;
    background-color: #494949;
    color: #333;
    padding: 20px;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.window {
    background-color: #333;
    margin: 0.5rem;
    margin-left: 0;
    border: solid;
    border-color: #7CB0FF;
    color: #f3f4f5;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topbar {
    background-color: #7CB0FF;
    color: #000;
    font-size: 14px;
    height: 33px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar h1{
    margin-left: 5px;
}

.exiticon {
    margin-right: 5px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.nametag {
    display: flex;
    align-items: center;
}

.nametag img {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.windowContent {
    height: fit-content;
}

.href {
    margin-top: 5px ;
    text-decoration: none;
    color: #7CB0FF;
    transition-duration: 0.3s;
}

.href:hover {
    text-decoration: underline;
}

input{
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 2px #7CB0FF;
    width: 95%;
    color: #f3f4f5;
    background-color: #333;
    outline: none;
    font-family: 'Monocraft', sans-serif;
}

button{
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: #7CB0FF;
    color: #000;
    width: 95%;
    cursor: pointer;
    font-family: 'Monocraft', sans-serif;
    font-size: medium;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}