.quoteContainer{
    margin: 10px;
    margin-top: 15px;
}

.author-and-copy{
    margin-top: 5px;
    display: flex;
}

.copy{
    margin-left: 15px;
    color: #7CB0FF;
    cursor: pointer;
}

.copy:hover{
    text-decoration: underline;
}

input{
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    height: 35px;
}